body {
  background-color: #BC544B;
}
body {
  font-family: times new roman, serif;
  margin: 2em;
}

h1 {
  font-family: engravers old english;
  font-style: bold;
  color: #000000;
}
h2 {
  font-family: dancing script;
  font-style: serif;
  color: #000000;
}
div {
  animation: example 5s linear 2s infinite alternate;
}
